.adventage
	&-block
		text-align: center
		margin-top: 7rem

		&__title
			font-size: 2rem
			font-weight: bold
			margin-top: 5rem

		&__description
			font-size: 1.5rem
			max-width: 25rem
			margin: auto

	&__img
		img
			height: 6rem
			margin: auto

.arrow
	position: absolute
	top: 50%
	transform: translateY(-50%)
	z-index: 2
	width: 2rem
	height: 3rem
	border: none
	outline: none

.prev
	left: 0
	background: url(../img/advantage/arrow-left.png) center center no-repeat
	background-size: cover

.next
	right: 0
	background: url(../img/advantage/arrow-right.png) center no-repeat
	background-size: cover

.slick-slide
	outline: none