.header
  padding: 2rem 0
  &-contact
    text-align: right
    &__phone
      display: inline-block
      font-size: 2rem
      font-weight: bold
      vertical-align: middle
      margin-right: 3rem

.button
  font-size: 1.2rem
  color: #fff
  background-color: $color-btn
  padding: 1.5rem 2.5rem
  border-radius: 8px
  outline: none
  border: none
  &:hover
    background-color: darken($color-btn, 5%)