html
  font-family: 'Proxima Nova', sans-serif
  font-weight: regular
  font-size: 10px

img
  max-width: 100%

section
  padding: 5% 0

.section-title
  font-size: 3.6rem
  font-weight: bold
  text-align: center


$color-accent: #00c939
$color-btn: #ffb100

@import 'main'
@import 'header'
@import 'hero'
@import 'forms'
@import 'adventage'

@import 'media'
@import 'fonts'